.principal h1{
    text-align: center;
    color: white;
}
body{
    background: #632432;
    font-family: Arial;
}
.principal{
    
    margin: 50px 50px 50px 50px;
    width: 600px;
   
}
table{
    background: white;
    text-align: center;
    border-collapse: collapse;
    width: 100%;
    margin: auto;
}
th , td{
    text-align: center;
    padding: 20px;
}
thead{
    background: #246355;
    color: white;
    border-bottom: solid 5px #0F362D;
}
tr:nth-child(even){
    background: #ddd;
}
/*ilumina las celdas*/
tr:nth-child(even){
    background: #ddd;
}